@for (_ of this.createFixedArray(this.length()); let index = $index; track index) {
	<div class="input__container">
		<mat-form-field>
      @let innerValue = this.innerValue();
			<input #refsInput
						 [autofocus]="innerValue?.length === index && this.autoFocus()"
						 type="text"
						 matInput
						 [value]="innerValue?.charAt(index)"
						 [maxLength]="1"
						 [disabled]="this.isDisabled() || this.value()?.length !== undefined && index > innerValue!.length"
						 (focus)="this.handleFocus(index)"
						 (keydown)="this.handleKeyDown($event, index)"
						 [placeholder]="this.placeholder() ?? ''" />
		</mat-form-field>
	</div>
}
