:host {
	display: flex;
	gap: 8px;
}

.input__container {
	width: max-content;

	.mat-mdc-form-field-infix {
		width: max-content !important;
	}

	input {
		width: 32px;
		text-align: center;
		font-size: 32px !important;
	}
}
