@mixin base($theme) {
	/* Form-Field */
	.mat-mdc-form-field-icon-prefix > ogs-m3-icon,
	.mat-mdc-form-field-icon-suffix > ogs-m3-icon {
		padding: 0 12px;
		box-sizing: content-box;
	}

	/* Button */
	ogs-m3-icon[matButtonIcon]{
    &:not([iconPositionEnd]) {
      margin-right: 12px;
    }

    &[iconPositionEnd] {
      margin-left: 12px;
    }
  }
}

@mixin theme($theme) {
	@include base($theme);
}
